<div class="container">
    <div class="card-header">
        <h3 style="color: blue;">Editar de auto</h3>
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">COLOR</label>
                <input type="text" class="form-control" name="color" aria-describedby="emailHelp"
                    [(ngModel)]="auto.color">
                <div id="emailHelp" class="form-text">*Ingrese el color</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">PLACA</label>
                <input type="text" class="form-control" name="placa" aria-describedby="emailHelp"
                    [(ngModel)]="auto.placa">
                <div id="emailHelp" class="form-text">*Ingresa la placa</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">AÑO</label>
                <input type="text" class="form-control" name="anio" aria-describedby="emailHelp"
                    [(ngModel)]="auto.anio">
                <div id="emailHelp" class="form-text">*Ingrese el año del vehiculo</div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="editar()" >Guardar</button>
        </form>
          
    </div>

</div>